  <div class='container'>
  <div class="col-lg-6 col-sm-11">
    <% @groups.each do |group| %>
      <div class="d-flex flex-row justify-content-between shadow p-3 mb-3 bg-white rounded ">
        <div>
          <%=image_tag group.icon.variant(resize:'100x100!'),class: 'rounded-circle' %>
        </div>
        <div>
          <p class="text-muted"><%= group.name %></p>
          <p class="text-muted"><%= group.created_at %></p>
          <%if current_user == group.user%>
            <%= link_to 'group_items', group_path(group),class:'btn btn-sm btn-outline-info'%>
            <%= link_to 'Edit', edit_group_path(group),class:'btn btn-sm btn-outline-primary'%>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-outline-danger' %>
          <%end%>
        </div>
      </div>
    <%end%>
    </div>
  </div>
<%= link_to 'New Group', new_group_path %>
