  <div class='container mt-2'>
  <div class="col-lg-5 col-sm-11">
    <% @groups.each do |group| %>
      <div class="d-flex flex-row justify-content-around shadow p-2 mb-1 bg-white rounded ">
        <div>
          <%=image_tag group.icon.variant(resize:'100x100!'),class: 'rounded-circle' %>
        </div>
        <div>
          <p class="text-muted"><%= group.name %></p>
          <p class="text-muted"><%= group.created_at %></p>
           <%= link_to 'group_items', group_path(group),class:'btn btn-sm btn-outline-info'%>
          <%if current_user == group.user%>
            <%= link_to 'Edit', edit_group_path(group),class:'btn btn-sm btn-outline-primary'%>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-outline-danger' %>
          <%end%>
        </div>
      </div>
    <%end%>
      <div class="btn-color text-center mb-2">
        <div class='btn btn-block border w-75'>
          <%= link_to 'New Group', new_group_path,class:'text-light'%>
        </div>
      </div>
    </div>
  </div>
