<div class="shadow p-2 mb-3 bg-white rounded">
  <p class="text-muted">Gift credit: <%=counter(@group_items)%><p>
</div>

<% @group_items.each do |item| %>
  <div class="d-flex flex-row justify-content-around w-50 shadow p-3 mb-3 bg-white rounded">
    <div>
      <%if item.group != nil%>
        <%=image_tag item.group.icon.variant(resize:'100x100!'),class: 'rounded-circle'  %>
      <%else%>
        <%=image_tag('question_mark.jpg',width:'100',height:'100',class:'rounded-circle')%>
      <%end%>
    </div>
    <div class="">
      <p class="text-muted">
      Author: <%=item.user.username%> | 
      <%= item.name %>
      </p>
      <p class="text-muted"><%= item.created_at %></p>
      <%if current_user == item.user%>
        <%= link_to 'Edit', edit_item_path(item),class:'btn btn-sm btn-outline-primary'%>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-outline-danger' %>
      <%end%>
    </div>
    <div>
        <p class="text-dark">Amount: <%= item.amount %></p>
    </div>
  </div>
<%end%>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>