<div class="shadow p-2 mb-2 bg-white rounded">
  <p class="text-muted">Gift credit: <%=counter(@items)%><p>
</div>
  <div class=''>
    <div class="col-lg-6 col-sm-11">
    <% @items.each do |item| %>
      <div class="d-flex flex-row justify-content-between shadow p-2 mb-1 bg-white rounded">
        <div>
          <%if item.group != nil%>
            <%=image_tag item.group.icon.variant(resize:'100x100!'),class: 'rounded-circle'  %>
          <%else%>
            <%=image_tag('question_mark.jpg',width:'100',height:'100',class:'rounded-circle')%>
          <%end%>
        </div>
        <div class="">
          <p class="text-muted"><%= item.name %></p>
          <p class="text-muted"><%= item.created_at %></p>
          <%if current_user == item.user%>
            <%= link_to 'Edit', edit_item_path(item),class:'btn btn-sm btn-outline-primary'%>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-outline-danger' %>
          <%end%>
        </div>
        <div>
            <p class="text-dark">Amount: <%= item.amount %></p>
        </div>
      </div>
    <%end%>
    <div class="btn-color text-center mb-2">
      <div class='btn btn-block border w-75'>
        <%= link_to 'New Item', new_item_path,class:'text-light'%>
      </div>
    </div>
  <div>
  </div>
